/* banner related style */
.banner {
    height: 500px;
    width: 1550px;
    background-image: url(../images/hero-bg.png);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav h3 {
    color: #4E47FF;
    margin: 30px 60px;
}

.bn{
    text-align: center;
    
}

.bn-title{
    margin: 150px 0px 0px 0px;
}

/* main section related style */
/* action section */
.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-primary-1{
    background-color: #4E47FF;
    color: aliceblue;
    padding: 0px 10px;
    border-radius: 5px;
}


.webflow{
    border-radius: 40px;
}


/* productive section */
.productive{
    background-color:#4d47ff22 ;
    border-radius: 10px;
    padding:35px 0px ;
}
.pro-title{
    text-align: center;
}
.value{
    display: flex;
    justify-content: space-around;
}
.value-title{
    color: #4E47FF;
    font-weight: bolder;
    font-size: 3em;
    margin: 0px;
}

/* shared style */
.btn-primary {
    background-color: #4E47FF;
    color: aliceblue;
    padding: 0px 10px;
    border-radius: 5px;
    margin: 30px 60px;
}

.margin{
    margin: 116px 200px;
}

.Dark-2{
    color: #25243279;
}

.size{
    height: 250px;
    width: 1140px;
}